<!-- Start Portfolio Area -->
<div class="section-separator" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2 class="title">Projects</h2>
        </div>
      </div>
    </div>

    <div class="row row--25 mt--10 mt_md--10 mt_sm--10">

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectOne">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/git2.jpeg" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Instagram Shops</a>
                </div>
              </div>
              <h4 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  Platform Where You Can Create An Instagram Account.
                </a></h4>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectTwo">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/git1.jpeg" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">NoteDown</a>
                </div>
              </div>
              <h4 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  Write down your blog
                </a></h4>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectThree">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/git5.jpeg" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">News API</a>
                </div>
              </div>
              <h4 class="title"><a href="javascript:void(0)" class="text-capitalize">
                This project is a news application that helps to list and preview news articles from various sources as well as display current headlines on the home page                </a></h4>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectFour">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/git6.jpeg" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Password Locker</a>
                </div>
              </div>
              <h6 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  This application will help us manage our passwords and even generate new passwords for us.
                </a></h6>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectFive">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/git4.jpeg" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Dhub_Search</a>
                </div>
              </div>
              <h6 class="title"><a href="javascript:void(0)" class="text-capitalize">
                Website where users may enter a GitHub username into a form, submit it, and see names and descriptions of that person's public repositories. A person can also look for repositories.
                </a></h6>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectSix">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/git3.jpeg" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Quotes_Angular</a>
                </div>
              </div>
              <h6 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  A website where one can quote,up-vote, and down-vote build in angular
                </a></h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center mt-5 mb-5">
        <a class="rn-btn" href="https://github.com/DannyMyles" target="_blank">
          <span>View More Projects</span>
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="projectOne" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
               A website where one can quote,up-vote, and down-vote build in angular
              </p>
              <p>
                  This application will help us manage our passwords and even generate new passwords for us.
              </p>
              <div class="button-group mt--20">
                <a href="https://dannymyles.github.io/Quotes_Angular/" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="projectTwo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image2.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
                <!-- description of a business forum management system -->
                  This application will help us manage our passwords and even generate new passwords for us.
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://mvp.wezaprosoft.com" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectThree" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image3.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
                A website where one can quote,up-vote, and down-vote build in angular
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://dalbit-petroleum.netlify.app/" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectFour" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image4.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
                A website where one can quote,up-vote, and down-vote build in angular
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://ler-web.netlify.app/" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectFive" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image5.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
                A website where one can quote,up-vote, and down-vote build in angular
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://kwyk.developerwilson.com/" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="projectSix" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image6.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend</span> Web Development.
              </h3>
              <p class="mb--30">
                A website where one can quote,up-vote, and down-vote build in angular
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://pagkenya.com/" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>
